* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    --bg-color: #EDF2FF;
    --text-color: #00082F;
    --primary-color: #4263EB;
    --primary-color-dark: #364FC7;
  }
  
  body.dark-blue {
    --bg-color: #00082F;
    --text-color: #EDF2FF;
    --primary-color: #4263EB;
    --primary-color-dark: #364FC7;
  }
  
  body.pink {
    --bg-color: #FFF0F6;
    --text-color: #1F000B;
    --primary-color: #D6336C;
    --primary-color-dark: #A61E4D;
  }
  
  body.dark-pink {
    --bg-color: #1F000B;
    --text-color: #FFF0F6;
    --primary-color: #D6336C;
    --primary-color-dark: #A61E4D;
  }
  
  body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    text-align: center;
    width: 300px;
    margin: 60px auto 0px;
  }
  
  img {
    width: 100%;
  }
  
  .avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 3.7px;
    border: var(--primary-color) solid 4px;
  }
  
  h1 {
    margin-top: 24px;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
  }
  
  .username {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 400;
    font-size: 18px;
    opacity: 0.8;
  }
  
  ul {
    margin-top: 48px;
    margin-bottom: 48px;
    list-style: none;
  }
  
  ul li a {
    display: flex;
    height: 53px;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
  
    margin-bottom: 16px;
    border-radius: 6px;
  
    transition: background 400ms;
  }
  
  ul li a:hover {
    background-color: var(--primary-color-dark);
  }
  
  footer {
    font-size: 12px;
    font-weight: 400;
    opacity: 0.6;
  
    transition: opacity 400ms;
  }
  
  footer:hover {
    opacity: 1;
  }